<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @money_movement.amount %>
</p>

<p>
  <strong>From account:</strong>
  <%= @money_movement.from_account_id %>
</p>

<p>
  <strong>To account:</strong>
  <%= @money_movement.to_account_id %>
</p>

<%= link_to 'Edit', edit_money_movement_path(@money_movement) %> |
<%= link_to 'Back', money_movements_path %>
